.headerContainer {
    flex-direction: row;
    display: flex;
    justify-content: space-around; /* or 'space-evenly' */
    margin-bottom: 32px;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 16px;
}

.headerLink {
    color: white;
    text-decoration: none;
    letter-spacing: 0.2em;
    transition: 500ms;
}

.headerLink:hover {
    color: var(--projk_green);
}

.headerLink.currentLink {
    color: var(--projk_purple);
}

.headerLink.currentLink:hover {
    color: var(--projk_green);
}