@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Lexend', sans-serif;
}


body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--projk_background);
  color: white;
}

img {
  max-width: 100%;
}


.top-nav {
  width: 100%;
  display: flex;
  background: #00000000;
  justify-content: center;
  text-decoration: none;
}

.top-nav > a:hover {
  color: var(--projk_green);
  transition: .5s;
  text-decoration: none !important;
}

.top-nav a {
  padding: .5rem;
  padding-top: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

.tight-margin {
  margin-right: 6rem;
  margin-left: 6rem;
}

.chip {
  display: inline-block;
  padding: 0 8px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 25px;
  background-color: #dbdbdb;
  margin-bottom: 8px;
  margin-right: 8px;
}

.projk-card-img-edit {
  object-fit: cover;
}

/* Small (sm) */
@media (max-width:576px) {
  .projk-card-img-edit {
    max-height: 300px;
  }  
}

/* Medium (md) */
@media (max-width:768px) {
  .projk-card-img-edit {
    height: inherit;
  }  
}

/* Large (lg) */
@media (max-width:992px) {
  .projk-card-img-edit {
    height: inherit;
  }  
}