@import './colors.css';

/* All of the overrides for bootstrap go here. */

a {
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    color: white;
}

body {
    color: var(--projk_background);
}

.btn-primary {
    background-color: var(--projk_green);
    border-color: var(--projk_green);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--projk_higreen);
    border-color: var(--projk_higreen);
}