.linkButton {
    background-color: var(--projk_green);
    color: white;
    transition: 400ms;
    text-decoration: none;
    width: calc(100% - 48px);
    padding: 16px;
    border-radius: 16px;
    display: block;
    margin: 16px 24px;
    text-align: center;
}

.linkButton:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5); /* Adjust values as needed */
}

.mkdwnContainer {
    padding: 16px;
    background-color: var(--projk_foreground);
    margin-top: 16px;
    border-radius: 16px;
}

.mkdwn-h1 {
    color: white;
}

.mkdwn-p {
    color: white;
}

.mkdwn-p a {
    color: var(--projk_green);
}

.mkdwn-h3 {
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.mkdwn-a {
    color: var(--projk_green);
}
