.projectCard {
    background-color: var(--projk_foreground);
}

.text {
    color: white;
}

.cardTitle {
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .25);
    display: inline;
    padding: 0 8px 4px 16px;
}