@import "colors.css";

* {
  scroll-behavior: smooth;
}


body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--projk_background);
  color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: .5s;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  background: #00000000;
  justify-content: center;
}

nav > a:hover {
  color: var(--projk_green);
  transition: .5s;
}

nav a {
  padding: .5rem;
  padding-top: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
