@import './colors.css';
h1, h2, h3, h4 {
    color: var(--projk_purple);
}

.background-video {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.jeremy-title {
    position: absolute;
}

.j-h3 {
    color: var(--projk_purple) !important;
}

.card {
    background-color: var(--projk_foreground) !important;
}