@import "./colors.css";
@import "./animated-circles.css";

body {
    overflow-x: hidden;
    width: 100%;
}

.home-img-button {
    height: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 50%;
    transition: all 0.5s ease 0s;
}

.home-img-button > img {
    max-height: 560px;
    max-width: 460px;    
    height: 100%;
    width: 100%;
}

.k-home-img-button {
    right: 0;
}

.k-home-img-button:hover {
    transform: scale(1.2);
}

.j-home-img-button {
    left: 0;
    transform: scaleX(-1);
}

.j-home-img-button:hover {
    transform: scaleX(-1.2) scaleY(1.2);
}


@media(min-width: 1200px) {
    .j-home-img-button {
        margin-left: 32px;
    }

    .k-home-img-button {
        margin-right: 32px;
    }
}

@media(max-width: 900px) {
    .home-img-button {
        opacity: 0%;
        pointer-events: none;
    }

    .top-nav {
        font-size: 32px;
    }
}
