@import './colors.css';

h1, h2, h3, h4 {
    color: var(--projk_green) !important;
}

.card {
    background-color: var(--projk_foreground) !important;
}


.k-h3 {
    color: var(--projk_green) !important;
}