.crab {
  position: fixed;
  left: 8px;
  bottom: 0;
  opacity: 0.5;
  text-decoration: none;
  animation: slideIn 6s 12s forwards;
  font-size: 32px;
  transform: translateX(-150%);
}

@keyframes slideIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0);
  }
}

.things {
  position: fixed;
  right: 12px;
  bottom: 0;
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

.things:hover {
  color: var(--projk_higreen);
  background-color: var(--projk_purple);
  bottom: 4px;
  right: 16px;
  box-shadow: var(--projk_green) 4px 2px;
}